@import url("./assets/css/demo.css");
@import url("./assets/vendor/css/core.css");
@import url("./assets/vendor/css/theme-default.css");
@import url("./assets/vendor/css/core.css");
@import url("./assets/vendor/css/pages/page-account-settings.css");
@import url("./assets/vendor/css/pages/page-auth.css");
@import url("./assets/vendor/css/pages/page-icons.css");
@import url("./assets/vendor/css/pages/page-misc.css");
@import url("./assets/vendor/fonts/boxicons.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p.kural-list {
  text-indent: -45px;
  padding-left: 45px;
}

span.float-list {
  width: 45px;
  float: left;
}

.breadcrumb {
  margin-bottom: 0 !important;
}

.app-brand-textmenu-text {
  font-size: 24px;
  margin: 0;
  padding: 20px 0;
}